<h1 style="background-color: blue; color: white;">App Works!</h1>
<div class="container" *ngIf="game && game.deck && game.deck.cards.length > 0">
  <section class="container"  *ngFor="let card of game.deck.cards">
    <div *ngIf="card.suit==='SPADES'"><img src="{{card.imagePath}}" class="card-image"/></div>
  </section>
  <section class="container"  *ngFor="let card of game.deck.cards">
    <div *ngIf="card.suit==='HEARTS'"><img src="{{card.imagePath}}" class="card-image"/></div>
  </section>
  <section class="container"  *ngFor="let card of game.deck.cards">
    <div *ngIf="card.suit==='DIAMONDS'"><img src="{{card.imagePath}}" class="card-image"/></div>
  </section>
  <section class="container"  *ngFor="let card of game.deck.cards">
    <div *ngIf="card.suit==='CLUBS'"><img src="{{card.imagePath}}" class="card-image"/></div>
  </section>
</div>
<router-outlet></router-outlet>