<p>board works!</p>

<div class = "board" >
    <p>showing board</p>
    <img class = "card-image" [src]="getImage(flop1)" (click)="backToDeck(flop1)" [style.border]="flop1.active ? '1px solid red' : 'none'">
    <img class = "card-image" [src]="getImage(flop2)" (click)="backToDeck(flop2)" [style.border]="flop2.active ? '1px solid red' : 'none'">
    <img class = "card-image" [src]="getImage(flop3)" (click)="backToDeck(flop3)" [style.border]="flop3.active ? '1px solid red' : 'none'">
    <img class = "card-image" [src]="getImage(turn)"  (click)="backToDeck(turn)"  [style.border]="turn.active ? '1px solid red' : 'none'">
    <img class = "card-image" [src]="getImage(river)" (click)="backToDeck(river)" [style.border]="river.active ? '1px solid red' : 'none'">
</div>
